language: python
python:
  - 2.7
script: make travis
install:
  - sudo apt-get install python-qt4
  - pip install nose
  - pip install Ghost.py==0.1b
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - ln -s /usr/lib/pymodules/python2.6/PyQt4 /home/vagrant/virtualenv/python2.7/lib/python2.7/site-packages/PyQt4
  - ln -s /usr/lib/pymodules/python2.6/sip.so /home/vagrant/virtualenv/python2.7/lib/python2.7/site-packages/sip.so
